body {
	width: 700px;
}
#header {
	position: relative;
	width: 700px;
	height: 70px;
	font-weight: bold;
	font-size: large;
	// text-align: right;
	#logo {
		width: 230px;
		height: 70px;
		position: absolute;
		top: 0;
		left: 0;
	}
	#datum {
		position: absolute;
		height: 30px;
		top: 0;
		right: 0;
		width: 250px;
	}
	#comment {
		position: absolute;
		width: 250px;
		height: 30px;
		top: 30px;
		right: 0px;
	}
}
.table {
	margin-top: 10px;
	position: relative;
	width: 700px;
	height: 650px;
	table {
		width: 325px;
	}
	td {
		text-align: right;
		border: 1px solid #000;
	}
	#umsatz{
		position: absolute;
		width: 250px;
		height: 25px;
		top: 0;
		left: 0;
		font-weight: bold;
		font-size: large;
	}
	#detail {
		position: absolute;
		width: 250px;
		height: 25px;
		top: 25px;
		left: 0;
		font-weight: bold;
		font-size: large;
	}
	#left {
		position: absolute;
		top: 50px;
		left: 0;
	}
	#right {
		position: absolute;
		top: 50px;
		right: 0;
	}
	.legend {
		font-weight: bold;
		text-align: center;
	}
	.name {
		text-align: left;
	}
}