/* line 6, ../../dev/scss/global.scss */
body {
  background-color: #252120;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: sans-serif; }

/* line 14, ../../dev/scss/global.scss */
.select_button {
  margin: 20px 20px 0px 20px;
  height: 400px; }

/* line 18, ../../dev/scss/global.scss */
#wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #e73c1e;
  width: 850px;
  height: auto;
  overflow: visible;
  margin: auto;
  text-align: center;
  padding: 5px 10px 10px 10px; }

/* line 2, ../../dev/scss/admin.scss */
#navbar {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #1c9169;
  width: 800px;
  height: 50px;
  padding: 5px; }
  /* line 9, ../../dev/scss/admin.scss */
  #navbar ul {
    margin: 0px;
    padding: 0px;
    list-style: none; }
  /* line 14, ../../dev/scss/admin.scss */
  #navbar #home {
    background: url(/media/images/home.png); }
  /* line 17, ../../dev/scss/admin.scss */
  #navbar #email {
    background: url(/media/images/email_small.png); }
  /* line 20, ../../dev/scss/admin.scss */
  #navbar #lager {
    background: url(/media/images/lager_small.png); }
  /* line 23, ../../dev/scss/admin.scss */
  #navbar #search {
    margin-top: 12px;
    width: 200px; }
  /* line 27, ../../dev/scss/admin.scss */
  #navbar #ratte1 {
    margin-top: 20px;
    height: 20px;
    background: url(/media/images/list_small.png) 0 0; }
  /* line 32, ../../dev/scss/admin.scss */
  #navbar #ratte2 {
    margin-top: 10px;
    height: 30px;
    background: url(/media/images/list_small.png) 0 0; }
  /* line 37, ../../dev/scss/admin.scss */
  #navbar #ratte3 {
    height: 50px;
    background: url(/media/images/list_small.png) 0 0; }
  /* line 41, ../../dev/scss/admin.scss */
  #navbar li {
    float: left;
    margin: 0px 21.42px;
    width: 50px;
    height: 50px; }
  /* line 47, ../../dev/scss/admin.scss */
  #navbar a {
    display: block;
    width: 50px;
    height: 50px; }

/* Member list */
/* line 58, ../../dev/scss/admin.scss */
#legend {
  width: 800px;
  float: left;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px; }
  /* line 64, ../../dev/scss/admin.scss */
  #legend .nummer, #legend .name, #legend .email, #legend .telefon, #legend .boxes, #legend .save, #legend .lastvisit, #legend .visit_count, #legend .message {
    display: block;
    height: 50px;
    float: left;
    text-align: center;
    margin: 0px 6px; }

/* line 75, ../../dev/scss/admin.scss */
.table_row {
  height: 27px;
  width: 800px;
  float: left;
  margin: 5px 0px; }
  /* line 80, ../../dev/scss/admin.scss */
  .table_row .nummer, .table_row .name, .table_row .email, .table_row .telefon, .table_row .boxes, .table_row .save, .table_row .lastvisit, .table_row .visit_count, .table_row .message {
    display: block;
    height: 27px;
    font-weight: bold;
    float: left;
    margin: 0px 6px;
    text-align: center; }

/* line 89, ../../dev/scss/admin.scss */
.nummer {
  width: 44px; }

/* line 92, ../../dev/scss/admin.scss */
.name {
  width: 184px; }

/* line 95, ../../dev/scss/admin.scss */
.email {
  width: 204px; }

/* line 98, ../../dev/scss/admin.scss */
.telefon {
  width: 104px; }

/* line 101, ../../dev/scss/admin.scss */
.save {
  width: 27px; }

/* line 104, ../../dev/scss/admin.scss */
.lastvisit {
  width: 50px; }

/* line 107, ../../dev/scss/admin.scss */
.visit_count {
  width: 40px; }

/* line 110, ../../dev/scss/admin.scss */
.message {
  color: #fff;
  text-align: center; }

/* line 114, ../../dev/scss/admin.scss */
.boxes {
  width: 27px; }
  /* line 116, ../../dev/scss/admin.scss */
  .boxes a {
    display: block;
    width: 27px;
    height: 27px;
    background: url(/media/images/checkbox.png); }
  /* line 122, ../../dev/scss/admin.scss */
  .boxes article {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0; }
  /* line 130, ../../dev/scss/admin.scss */
  .boxes article:target {
    width: 100%;
    height: 100%;
    padding: 100px 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1; }
  /* line 142, ../../dev/scss/admin.scss */
  .boxes figure {
    background: #e73c1e;
    width: 600px;
    margin: auto; }

/* line 148, ../../dev/scss/admin.scss */
.checkbox {
  height: 27px;
  margin: auto;
  font-size: 9px; }

/* line 154, ../../dev/scss/admin.scss */
input[name=id] {
  width: 40px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #252120;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #252120; }

/* line 164, ../../dev/scss/admin.scss */
input[name=name] {
  width: 180px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #252120;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #252120; }

/* line 174, ../../dev/scss/admin.scss */
input[name=email] {
  width: 200px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #252120;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #252120; }

/* line 184, ../../dev/scss/admin.scss */
input[name=telefon] {
  padding: 0px;
  width: 100px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border: 2px solid #252120;
  text-align: center;
  color: #fff;
  font-weight: bold;
  background-color: #252120; }

/* Email Area*/
/* line 197, ../../dev/scss/admin.scss */
#content_email {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  width: 800px;
  height: auto;
  overflow: visible;
  margin: auto;
  background-color: #e73c1e;
  padding: 5px 10px 10px 10px; }

/* line 212, ../../dev/scss/admin.scss */
#email_select {
  margin: auto;
  margin-bottom: 10px; }

/* line 216, ../../dev/scss/admin.scss */
#email_result {
  width: 600px;
  margin: auto;
  margin-top: 10px;
  font-weight: bold; }

/* line 222, ../../dev/scss/admin.scss */
.email_checkbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  height: 27px;
  margin: auto;
  font-size: 12px;
  font-weight: bold; }

/* Lager */
/* line 241, ../../dev/scss/admin.scss */
#bestand {
  padding: 2px;
  width: 850px;
  background-color: #1c9169;
  display: flex;
  height: 450px;
  margin-bottom: 5px;
  justify-content: space-around;
  flex-flow: column wrap; }

/* line 251, ../../dev/scss/admin.scss */
.bestand {
  font-weight: bold;
  width: 120px;
  height: 60px;
  margin: auto;
  color: #fff;
  background-color: #252120; }

/* line 259, ../../dev/scss/admin.scss */
.typ {
  width: 850px;
  background-color: #1c9169;
  font-weight: bold;
  font-size: 30px;
  text-align: left;
  margin-bottom: 5px; }

/* line 267, ../../dev/scss/admin.scss */
.tabelle {
  width: 750px;
  font-size: 16px;
  text-align: center;
  margin: auto; }

/* line 273, ../../dev/scss/admin.scss */
.tabelle_row {
  height: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 5px 5px 5px 5px; }

/* line 291, ../../dev/scss/admin.scss */
.tabcell_head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: wrap;
  width: 160px;
  background-color: #252120;
  color: #fff; }

/* line 309, ../../dev/scss/admin.scss */
.tabcell_big {
  min-width: 160px;
  background-color: #252120;
  color: #fff;
  text-align: center; }

/* line 315, ../../dev/scss/admin.scss */
.tabcell_number {
  width: 80px;
  background-color: #252120;
  color: #fff;
  text-align: center; }
