/* line 6, ../../dev/scss/global.scss */
body {
  background-color: #252120;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: sans-serif;
}

/* line 14, ../../dev/scss/global.scss */
.select_button {
  margin: 20px 20px 0px 20px;
  height: 400px;
}

/* line 18, ../../dev/scss/global.scss */
#wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #e73c1e;
  width: 850px;
  height: auto;
  overflow: visible;
  margin: auto;
  text-align: center;
  padding: 5px 10px 10px 10px;
}

/* line 2, ../../dev/scss/check.scss */
input[type=number] {
  margin: 0 auto;
  width: 400px;
  height: auto;
  /*    padding: 4px;*/
  font-size: 140px;
}

/* line 9, ../../dev/scss/check.scss */
input[type=image] {
  margin: auto;
  width: 400px;
}

/* line 13, ../../dev/scss/check.scss */
.result {
  margin: auto;
  font-size: 90px;
  color: #fff;
  font-family: sans-serif;
}

/* line 19, ../../dev/scss/check.scss */
.error {
  margin: auto;
  font-size: 90px;
  color: #e73c1e;
  font-family: sans-serif;
}

/* line 25, ../../dev/scss/check.scss */
.ratte {
  width: 150px;
}
