/* line 8, ../../dev/scss/global.scss */
body {
  background-color: #252120;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #fff;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

/* line 17, ../../dev/scss/global.scss */
.select_button_img, .select_button {
  margin: 25px;
  width: 300px;
  background-color: #1c9169;
  display: inline-block;
  box-sizing: border-box;
  height: 300px;
  text-decoration: none;
  color: #000;
  font-size: 45px;
}

/* line 31, ../../dev/scss/global.scss */
.select_button {
  padding: 125px 0px;
}

/* line 35, ../../dev/scss/global.scss */
#wrap {
  background-color: #403938;
  width: 830px;
  margin: auto;
  padding: 5px 10px 10px 10px;
}

/* line 43, ../../dev/scss/global.scss */
ul {
  list-style: none;
  padding: 0px;
}

/* line 47, ../../dev/scss/global.scss */
input {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  padding: 0;
}

/* line 2, ../../dev/scss/lager.scss */
#inventur_wrap {
  width: 800px;
  margin: auto;
}
/* line 5, ../../dev/scss/lager.scss */
#inventur_wrap:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 13, ../../dev/scss/lager.scss */
.row .name, .row_disabled .name, .row .anzahl, .row_disabled .anzahl, .row .save, .row_disabled .save, .row .save_correct, .row_disabled .save_correct, .row .info, .row_disabled .info {
  height: 50px;
  float: left;
  display: block;
  margin: 0px 25px;
}

/* line 19, ../../dev/scss/lager.scss */
.row, .row_disabled {
  width: 800px;
  background-color: #252120;
  float: left;
  margin: 5px auto;
  height: 50px;
  border: 2px solid #252120;
}
/* line 30, ../../dev/scss/lager.scss */
.row .name, .row_disabled .name {
  width: 400px;
  font-size: 39px;
  font-weight: bolder;
  padding-top: 2px;
  box-sizing: border-box;
}
/* line 38, ../../dev/scss/lager.scss */
.row .anzahl, .row_disabled .anzahl, .row .save, .row_disabled .save, .row .save_correct, .row_disabled .save_correct, .row .info, .row_disabled .info {
  width: 50px;
}
/* line 41, ../../dev/scss/lager.scss */
.row .anzahl, .row_disabled .anzahl {
  margin-left: 0px;
}
/* line 44, ../../dev/scss/lager.scss */
.row .save_correct, .row_disabled .save_correct {
  display: none;
}
/* line 47, ../../dev/scss/lager.scss */
.row .info, .row_disabled .info {
  box-sizing: border-box;
  padding-top: 17px;
  margin: 0px;
}
/* line 53, ../../dev/scss/lager.scss */
.row input[type=number], .row_disabled input[type=number] {
  padding: 0px;
  box-sizing: border-box;
  width: 50px;
  border: 2px solid #1c9169;
  text-align: center;
  color: #000;
  font-size: xx-large;
  font-weight: bold;
  background-color: #1c9169;
}

/* line 68, ../../dev/scss/lager.scss */
.row_disabled {
  background-color: #1c9169;
  border: 2px solid #1c9169;
}
/* line 72, ../../dev/scss/lager.scss */
.row_disabled .save {
  display: none;
}
/* line 75, ../../dev/scss/lager.scss */
.row_disabled .save_correct {
  display: initial;
}
/* line 78, ../../dev/scss/lager.scss */
.row_disabled input[type=number] {
  color: #1c9169;
  border: 2px solid #252120;
  background-color: #252120;
}
