/* line 1, ../../dev/scss/print.scss */
body {
  width: 700px;
}

/* line 4, ../../dev/scss/print.scss */
#header {
  position: relative;
  width: 700px;
  height: 70px;
  font-weight: bold;
  font-size: large;
}
/* line 11, ../../dev/scss/print.scss */
#header #logo {
  width: 230px;
  height: 70px;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 18, ../../dev/scss/print.scss */
#header #datum {
  position: absolute;
  height: 30px;
  top: 0;
  right: 0;
  width: 250px;
}
/* line 25, ../../dev/scss/print.scss */
#header #comment {
  position: absolute;
  width: 250px;
  height: 30px;
  top: 30px;
  right: 0px;
}

/* line 33, ../../dev/scss/print.scss */
.table {
  margin-top: 10px;
  position: relative;
  width: 700px;
  height: 650px;
}
/* line 38, ../../dev/scss/print.scss */
.table table {
  width: 325px;
}
/* line 41, ../../dev/scss/print.scss */
.table td {
  text-align: right;
  border: 1px solid #000;
}
/* line 45, ../../dev/scss/print.scss */
.table #umsatz {
  position: absolute;
  width: 250px;
  height: 25px;
  top: 0;
  left: 0;
  font-weight: bold;
  font-size: large;
}
/* line 54, ../../dev/scss/print.scss */
.table #detail {
  position: absolute;
  width: 250px;
  height: 25px;
  top: 25px;
  left: 0;
  font-weight: bold;
  font-size: large;
}
/* line 63, ../../dev/scss/print.scss */
.table #left {
  position: absolute;
  top: 50px;
  left: 0;
}
/* line 68, ../../dev/scss/print.scss */
.table #right {
  position: absolute;
  top: 50px;
  right: 0;
}
/* line 73, ../../dev/scss/print.scss */
.table .legend {
  font-weight: bold;
  text-align: center;
}
/* line 77, ../../dev/scss/print.scss */
.table .name {
  text-align: left;
}
