@import "global";
#navbar {
    margin: 10px auto;
    background-color: $gruen;
    width: 800px;
    height: 50px;
    padding: 5px;
    #home {
        background: url(/media/images/home.png);
    }
    #email {
        background: url(/media/images/email_small.png);
    }
    #lager {
        background: url(/media/images/lager_small.png);
    }
    #search {
        margin-top: 12px;
        width: 200px;
    }
    #ratte1 {
        margin-top: 20px;
        height: 20px;
        background: url(/media/images/list_small.png) 0 0;
    }
    #ratte2{
        margin-top: 10px;
        height: 30px;
        background: url(/media/images/list_small.png) 0 0;
    }
    #ratte3{
        height: 50px;
        background: url(/media/images/list_small.png) 0 0;
    }
    li {
        float: left;
        margin: 0px 21.42px;
        width: 50px;
        height: 50px;
    }
    a {
        display: block;
        width: 50px;
        height: 50px;
    }
}
ul {
    list-style: none;
    padding: 0px;
}


/* Member list */
input {
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid $schwarz;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: $schwarz;
    box-sizing: border-box;
}
.message {
    background: $gruen;
}
.error {
        background: $rot;
     }

%cell {
    float: left;
    margin: 0px 6.87px;
    display: block;
}
%column_widths {
    .nummer {
        width: 45px;
    }
    .name {
        width: 185px;
    }
    .email {
        width: 205px;
    }
    .telefon {
        width: 105px;
    }
    .boxes {
        width: 30px;
    }
    .save {
        width: 30px;
    }
    .lastvisit {
        width: 50px;
    }
    .visit_count {
        width: 40px;
    }
    .message, .error {
        width: 280px;
    }
}
#legend {
    margin: 5px auto;
    width: 800px;
    height: 50px;
    padding: 0px;
    list-style: none;
    li {
        @extend %cell;
        height: 50px;
    }
    @extend %column_widths;
}
.table_row {
    margin: 10px auto;
    width: 800px;
    height: 30px;
    // padding: 5px;
    
    .nummer, .name, .email, .telefon, .boxes, .save, .lastvisit, .visit_count, .message, .error {
        @extend %cell;
        height: 30px;
        //font-weight: bold;
    }
    @extend %column_widths;
    .save {
        border: 0px;
    }
    .boxes {
        border: 0px;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    }
    
}

.boxes {
    // width: 30px;
    form {
        width: 700px;
        margin: auto;
    }
    a {
        display: block;
        width: 30px;
        height: 30px;
        background: url(/media/images/checkbox.png);
    }
    article {
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    article:target {
        width: 100%;
        height: 100%;
        padding: 100px 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        background: rgba(0, 0, 0, .8);
        z-index: 1;
    }
    figure {
        background: $grau;
        width: 700px;
        margin: auto;
        padding: 5px;
    }
    ul {
        margin: auto;
        height: 165px;
        padding: 0px;
    }
    li {
        float: left;
        width: 150px;
        text-align: left;
        height: 30px;
        margin: 12.5px;
        box-sizing: border-box;
        background: $schwarz;
        -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);

    }
    input {
        -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
    }
    .checkbox {
        float: left;
        width: 30px;
        height: 30px;
        margin: 0;
    }
    .label {
        float: left;
        margin: 5px;
        width: 100px;
        height: 20px;
        display: block;
        text-align: center;
    }
    .save {
        float: left;
        width: 30px;
        height: 30px;
        border: 0px;
        margin: 0px;
    }
}

/* Email Area*/
.email_link {
    //font-weight: bold;
    font-size: 40px;
    margin: auto;
    height: 50px;
    width: 700px;
    background: $schwarz;
    border:5px solid $schwarz;
    a {
        color: $gruen;
    }
}
nobr {
    display: none;
}
.email_panel{
    width: 700px;
    margin:auto;
    background: $schwarz;
    border:5px solid $schwarz;
    #email_result {
        height:10px;
        padding:5px;
        box-sizing:border-box;
        overflow:hidden;
        opacity: 0;
        transition: all 0.2s ease-in-out 0.1s;
    }
    input[type="checkbox"] {  
    display: none;      
        width: 30px;
        height: 30px;
        margin: auto;
        z-index: 10;
        &:checked ~ #email_result {
            height: auto;
            margin-top: 10px;
            opacity: 1;
            overflow: auto;
            nobr {
                display: initial;
            }
        }
    }
}

/* Lager */

#bestand {
    padding: 2px;
    width: 850px;
    background-color: $gruen;
    display: flex;
    height: 450px;
    margin-bottom: 5px;
    justify-content: space-around;
    flex-flow: column wrap;
}
.bestand {
    //font-weight: bold;
    width: 120px;
    height: 60px;
    margin: auto;
    color: #fff;
    background-color: $schwarz;
}
.typ {
    width: 850px;
    background-color: $gruen;
    //font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 5px;
}
.tabelle {
    width: 750px;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
.tabelle_row {
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 5px 5px 5px;
}
.tabcell_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    background-color: $schwarz;
    color: #fff;
}
.tabcell_big {
    min-width: 160px;
    background-color: $schwarz;
    color: #fff;
    text-align: center;
}
.tabcell_number {
    width: 80px;
    background-color: $schwarz;
    color: #fff;
    text-align: center;
}
