@import "global";
#navbar {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: $gruen;
    width: 800px;
    height: 50px;
    padding: 5px;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    #home {
        background: url(/media/images/home.png);
    }
    #email {
        background: url(/media/images/email_small.png);
    }
    #lager {
        background: url(/media/images/lager_small.png);
    }
    #search {
        margin-top: 12px;
        width: 200px;
    }
    #ratte1 {
        margin-top: 20px;
        height: 20px;
        background: url(/media/images/list_small.png) 0 0;
    }
    #ratte2{
        margin-top: 10px;
        height: 30px;
        background: url(/media/images/list_small.png) 0 0;
    }
    #ratte3{
        height: 50px;
        background: url(/media/images/list_small.png) 0 0;
    }
    li {
        float: left;
        margin: 0px 21.42px;
        width: 50px;
        height: 50px;
    }
    a {
        display: block;
        width: 50px;
        height: 50px;
    }
}



/* Member list */

#legend {
    width: 800px;
    float: left;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px;
    .nummer, .name, .email, .telefon, .boxes, .save, .lastvisit, .visit_count, .message {
        display: block;
        height: 50px;
        float: left;
        text-align: center;
        margin: 0px 6px;
    }
}
%cell {

}
.table_row {
    height: 27px;
    width: 800px;
    float: left;
    margin: 5px 0px;
    .nummer, .name, .email, .telefon, .boxes, .save, .lastvisit, .visit_count, .message {
        display: block;
        height: 27px;
        font-weight: bold;
        float: left;
        margin: 0px 6px;
        text-align: center;
    }
}
.nummer {
    width: 44px;
}
.name {
    width: 184px;
}
.email {
    width: 204px;
}
.telefon {
    width: 104px;
}
.save {
    width: 27px;
}
.lastvisit {
    width: 50px;
}
.visit_count {
    width: 40px;
}
.message {
    color: #fff;
    text-align: center;
}
.boxes {
    width: 27px;
    a {
        display: block;
        width: 27px;
        height: 27px;
        background: url(/media/images/checkbox.png);
    }
    article {
        width: 0;
        height: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    article:target {
        width: 100%;
        height: 100%;
        padding: 100px 0;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: center;
        background: rgba(0, 0, 0, .8);
        z-index: 1;
    }
    figure {
        background: $rot;
        width: 600px;
        margin: auto;
    }
}
.checkbox {
    height: 27px;
    margin: auto;
    font-size: 9px;
}

input[name=id] {
    width: 40px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid $schwarz;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: $schwarz;
}
input[name=name] {
    width: 180px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid $schwarz;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: $schwarz;
}
input[name=email] {
    width: 200px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid $schwarz;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: $schwarz;
}
input[name=telefon] {
    padding: 0px;
    width: 100px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid $schwarz;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background-color: $schwarz;
}
/* Email Area*/

#content_email {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    width: 800px;
    height: auto;
    overflow: visible;
    margin: auto;
    background-color: $rot;
    padding: 5px 10px 10px 10px;
}
#email_select {
    margin: auto;
    margin-bottom: 10px;
}
#email_result {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
}
.email_checkbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 27px;
    margin: auto;
    font-size: 12px;
    font-weight: bold;
}
/* Lager */

#bestand {
    padding: 2px;
    width: 850px;
    background-color: $gruen;
    display: flex;
    height: 450px;
    margin-bottom: 5px;
    justify-content: space-around;
    flex-flow: column wrap;
}
.bestand {
    font-weight: bold;
    width: 120px;
    height: 60px;
    margin: auto;
    color: #fff;
    background-color: $schwarz;
}
.typ {
    width: 850px;
    background-color: $gruen;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 5px;
}
.tabelle {
    width: 750px;
    font-size: 16px;
    text-align: center;
    margin: auto;
}
.tabelle_row {
    height: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: 5px 5px 5px 5px;
}
.tabcell_head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    background-color: $schwarz;
    color: #fff;
}
.tabcell_big {
    min-width: 160px;
    background-color: $schwarz;
    color: #fff;
    text-align: center;
}
.tabcell_number {
    width: 80px;
    background-color: $schwarz;
    color: #fff;
    text-align: center;
}
