// Colors
$schwarz: #252120;
$grau: lighten($schwarz, 10%);
$weiss: lighten($schwarz, 60%);
$rot: #e73c1e;
$gruen: #1c9169;

body {
    background-color: $schwarz;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
}
.select_button_img {
    // float: left;
    margin: 25px;
    width: 300px;
    // background-color: $schwarz;
    display: inline-block;
    box-sizing: border-box;
    height: 300px;    
}
.select_button {
    @extend .select_button_img;
padding:125px 0px;
}
#wrap {
    background-color: $grau;
    width: 830px;
   // height: 100%;
    margin: auto;
    // text-align: center;
    padding: 5px 10px 10px 10px;
}
ul {
    list-style: none;
    padding: 0px;
}
input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   padding:0;
   
}