@import "global";
#inventur_wrap {
    width: 800px;
    margin: auto;
    &:after {
        content: ".";
        display:block;
        height:0;
        clear:both;
        visibility:hidden;
    }
}
%cell {
        height: 50px;
        float: left;
        display:block;
        margin: 0px 25px;
    }
.row {
    width: 800px;
    background-color: $schwarz;
    float: left;
    margin: 5px auto;
    height: 50px;
    border: 2px solid $schwarz;
    // box-sizing: border-box;
    .name, .anzahl, .save, .save_correct, .info {
        @extend %cell
    }
    .name {

        width: 400px;
        font-size: 39px;
        font-weight: bolder;
        padding-top: 2px;
box-sizing: border-box;
    }
    .anzahl, .save, .save_correct, .info {
        width: 50px;
    }
    .anzahl {
        margin-left: 0px;
    }
    .save_correct {
        display: none;
    }
    .info {
        box-sizing: border-box;
        padding-top: 20px;
        margin: 0px;
        font-size: x-small;
        -webkit-transform: rotate(-90deg); 
-moz-transform: rotate(-90deg); 
    }
    input[type=number] {
        // margin: 4px 0px;
        padding: 0px;
        box-sizing: border-box;
        width: 50px;
        // -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        // box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
        border: 2px solid $gruen;
        text-align: center;
        color: #000;
        font-size: xx-large;
        font-weight: bold;
        background-color: $gruen;
    }
}
.row_disabled {
    @extend .row;
    background-color: $gruen;
    border: 2px solid $gruen;
    .save {
        display: none;
    }
    .save_correct {
        display: initial;
    }
    input[type=number] {
        color: $gruen;
        border: 2px solid $schwarz;
        background-color: $schwarz;
    }
}
