/*colors
 *
 * schwarz #252120
 * rot #e73c1e
 * gruen #1c9169
 *
 *
 *
 *
 * */

body {
    background-color: #252120;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
}
#nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1c9169;
    height: 52px;
    padding: 2px;
}
.nav_button {
    margin: auto;
    height: 50px;
    width: 50px;
}
.select_button {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: auto;
    height:  400px;
    width: 400px;
    background-color: #1c9169;
}
#wrap {
     display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;

    width: 1200px;
    height: auto;
    overflow: visible;
    margin: auto;
    padding: 5px 10px 10px 10px;
}
#legend {
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lager_ok {
    background-color: #1c9169;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 5px;
    margin-bottom: 5px;
}
.legend_row {
    background-color: #252120;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lager_row {
    background-color: #e73c1e;
    height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type=number] {
    margin: auto;
    width: 50px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    border: 2px solid #1c9169;
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    background-color: #1c9169;
}

.anzahl {
    margin: auto;
    width: 50px;
}
.name {
    width: 400px;
    margin: auto;
    font-size: 40px;
    font-weight: bolder;
}
.save {
    margin: auto;
    width: 50px;

}